@import '../variables';

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-open-sans;
}

#app {
  @media (min-width: $md-viewport) {
    max-width: $desktop-width;
    margin: 0 auto;
  }
}

.container {
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
