{
  // https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-ignore": [ "off" ],
    "@typescript-eslint/member-delimiter-style": [ "error", {
      "multiline": {
          "delimiter": "none"
      },
      "singleline": {
          "delimiter": "semi"
      }
    } ],
    "@typescript-eslint/explicit-member-accessibility": [ "error", { "accessibility": "no-public" } ],
    "@typescript-eslint/indent": [ "error", 2 ],
    // disabled it because it's annyoing with TyepGraphQL syntax like '() => Int!' - function works but has no return type
    "@typescript-eslint/explicit-function-return-type": [ "off" ],
    // disabled because it's annoying with TypeGraphQl, eg. with Int! return type. Int! is a non-null assertion.
    "@typescript-eslint/no-non-null-assertion": [ "off" ],
    "comma-dangle": [ "error", "always-multiline" ],
    "space-before-function-paren": [ "error", "always" ]
  }
}
