$open-sans: 'Open Sans', sans-serif;
$proxima-nova: 'ProximaNova';

$proxima-nova-medium: 600;
$proxima-nova-extra-bold: 800;
$open-sans-regular: 400;
$open-sans-semi-bold: 600;
$open-sans-bold: 700;

$black: #000;
$white: #fff;
$white-text: #fff;
$gray: #d4d4d4;
$light-gray: rgba(0, 0, 0, 0.34);
$darkHotPink: rgb(216, 0, 86);

$header-height: 65px;
