$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-proxima-nova: 'ProximaNova';

$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-extra-bold: 800;

$color-black: #000;
$color-white: #fff;
$color-white-text: #fff;
$color-gray: #d4d4d4;
$color-light-gray: rgba(0, 0, 0, 0.34);
$color-primary: $color-black;
$color-secondary: $color-gray;
$color-danger: rgb(216, 0, 86);
$color-info: #009fea;
$color-success: #42b983;

$header-height: 65px;

$sm-viewport: 500px;
$md-viewport: 768px;
$lg-viewport: 992px;
$xl-viewport: 1200px;
